{% set title = "Séries" %}
{% extends "layout.twig" %}
{% block style %}
  .thumbnail{display:block;padding:4px;margin-bottom:20px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
  .thumbnail>img,.thumbnail a>img{margin-right:auto;margin-left:auto}
  a.thumbnail:hover,a.thumbnail:focus,a.thumbnail.active{border-color:#000}
  .thumbnail .caption{padding:9px;color:#333}
{% endblock %}
{% block content %}
<div class="row">
  {% for tv in tvs %}
    <div class="col-md-2 posters center-align">
      <a href="{{ path_for('tv', {'tvdbId': tv.indexerid}) }}"  class="thumbnail">
        <img src="{{ tv.banner.small}}" alt="Vignette de {{tv.show_name}}" id="{{tv.indexerid}}" class="responsive-img">
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}
